{# specbee/templates/component-location.html.twig #}
<div class="main-wrapper">
    <section>
        <div class="container">
            <h2>{{ title }}</h2>
            <table>
                <tr>
                    <td> Country </td>
                    <td> : <strong>{{ country }}</strong> </td>
                </tr>
                <tr>
                    <td> City </td>
                    <td> : <strong>{{ city }}</strong> </td>
                </tr>
                <tr>
                    <td> Time </td>
                    <td> : <strong>{{ time }}</strong> </td>
                </tr>
            </table>         
        </div>
    </section>
</div>